---
layout: layouts/base.njk
eleventyComputed:
  title: "{{ site.pages.resume.seo.title }}"
  description: "{{ site.pages.resume.seo.description }}"
---
{% include "partials/resume-basics.njk" %}
{% include "partials/resume-work.njk" %}
{% include "partials/resume-sidebars.njk" %}
